
<h2><%= @routine.name %></h2><br>

<% @routine.routine_exercises.each do |exercise| %>
<% if exercise.monday == true  %>
<h3>- - - </h3>
  <h1> On Monday: </h1>

    <p>Exercise Name:<%= exercise.exercise.name %></p>
    <p>Sets:<%= exercise.sets %></p>
    <p> Reps:<%= exercise.reps %></p>
    <p> Weight:<%= exercise.weight %></p>
    <h3>- - - </h3>

<% elsif exercise.tuesday == true  %>
<h3>- - - </h3>
  <h1> On Tuesday: </h1>

    <p>Exercise Name:<%= exercise.exercise.name %></p>
    <p>Sets:<%= exercise.sets %></p>
    <p> Reps:<%= exercise.reps %></p>
    <p> Weight:<%= exercise.weight %></p>
    <h3>- - - </h3>

<% elsif exercise.wednesday == true  %>
<h3>- - - </h3>
  <h1> On Wednesday: </h1>

    <p>Exercise Name:<%= exercise.exercise.name %></p>
    <p>Sets:<%= exercise.sets %></p>
    <p> Reps:<%= exercise.reps %></p>
    <p> Weight:<%= exercise.weight %></p>
    <h3>- - - </h3>

  <% elsif exercise.thursday == true  %>
  <h3>- - - </h3>
    <h1> On Thursday: </h1>

      <p>Exercise Name:<%= exercise.exercise.name %></p>
      <p>Sets:<%= exercise.sets %></p>
      <p> Reps:<%= exercise.reps %></p>
      <p> Weight:<%= exercise.weight %></p>
      <h3>- - - </h3>

    <% elsif exercise.friday == true  %>
    <h3>- - - </h3>
      <h1> On Friday: </h1>

        <p>Exercise Name:<%= exercise.exercise.name %></p>
        <p>Sets:<%= exercise.sets %></p>
        <p> Reps:<%= exercise.reps %></p>
        <p> Weight:<%= exercise.weight %></p>
        <h3>- - - </h3>

    <% elsif exercise.saturday == true  %>
    <h3>- - - </h3>
      <h1> On Saturday: </h1>

        <p>Exercise Name:<%= exercise.exercise.name %></p>
        <p>Sets:<%= exercise.sets %></p>
        <p> Reps:<%= exercise.reps %></p>
        <p> Weight:<%= exercise.weight %></p>
        <h3>- - - </h3>

        <% elsif exercise.sunday == true  %>
        <h3>- - - </h3>
          <h1> On Sunday: </h1>

            <p>Exercise Name:<%= exercise.exercise.name %></p>
            <p>Sets:<%= exercise.sets %></p>
            <p> Reps:<%= exercise.reps %></p>
            <p> Weight:<%= exercise.weight %></p>
            <h3>- - - </h3>

      <% end %>

      <% end %>
