<h2 class= "text-white"><%= @routine.name %></h2><br>

    <% @week_hash.each do |day, exercise_array| %>
  <%  if !exercise_array.empty? %>
    <div class="card bg-dark text-white mb-sm">

      <div class="card-header">
        <%= day.to_s.capitalize %>
      </div>


          <% exercise_array.each do |exercise| %>
          <div class="card-body">

            <p>Exercise: <%= link_to exercise.exercise.name, exercise_path(exercise.exercise) %></p>
            <% if exercise.sets%> <p>Sets: <%= exercise.sets %></p> <% end %>
            <% if exercise.reps%> <p> Reps: <%= exercise.reps %></p> <% end %>
            <% if exercise.weight%> <p> Weight: <%= exercise.weight %> lbs</p> <% end %>
            <% if exercise.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= exercise.one_rep_max %> lbs</p> <% end %>
            <% if @routine.user_id == session[:user_id] && !exercise_array.empty?%>
              <%= link_to 'Remove', remove_from_day_path(@routine.user_id, exercise, :routine_day => "#{day}"), class: "btn btn-danger btn-md"%>
            <% end %>
          </div>

          <%end%>
        </div>
    <%end%>
<% end %>

<% if @routine.user_id == session[:user_id] %>
<div>
  <%= link_to 'Add Exercise', new_user_routine_routine_exercise_path(@user, @routine), class: "btn btn-secondary brn-md" %>
  <%= link_to 'Delete Routine', user_routine_path(@user, @routine), {method: "delete", class: "btn btn-danger btn-md", style: "float: right"}%>
</div>
<% end %>
