<div class="card bg-dark text-white">

<div class="card-header">
<h3> <%= @user.username.capitalize%> <h3>
</div>

<div class="card-body">
  <div style= "width: 35%">



<!-- Day View -->
<% if @user.id == session[:user_id]%>
<h2>Today's Workout</h2>
  <% if @todays_routines.empty? %>
    <p>You have no workouts scheduled for today. :-(</p>
  <% else %>
  <%  @todays_routines.each do |exercise| %>
    <h3>- - - </h3>
    <p>Exercise Name:<%= link_to exercise.exercise.name, exercise_path(exercise.exercise) %></p>
      <% if exercise.sets%> <p>Sets: <%= exercise.sets %></p> <% end %>
      <% if exercise.reps%> <p> Reps: <%= exercise.reps %></p> <% end %>
      <% if exercise.weight%> <p> Weight: <%= exercise.weight %> lbs</p> <% end %>
      <% if exercise.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= exercise.one_rep_max %> lbs</p> <% end %>
  <% end %>
  <% end %>

<%end%>


<% if @routines.size > 1  %>
  <%= link_to 'View Routines', user_routines_path(@user), class: "btn btn-info btn-sm" %>
<% elsif @routines.size == 1%>
  <%= link_to 'View Routine', user_routine_path(@user,@routines.first), class: "btn btn-info btn-sm" %>
<% elsif @user.id == session[:user_id] %>
  <p>You currently have no routines, please add a routine using the link below.</p>
<% end %>

<% if @user.id == session[:user_id]%>
  <%= link_to 'Add Routine ', new_user_routine_path(@user), class: "btn btn-secondary btn-sm" %><br>
<%end%>
 <br>

<% if @user.id != session[:user_id] %>
  <br><%= link_to "Challenges for #{@user.username.capitalize}", user_challenges_path(@user), class: "btn btn-secondary btn-sm"%>
<% elsif @user.received_challenges.size > @user.completed_challenges.size %>
  <%= link_to 'Someone has challenged you!', user_challenges_path(@user), class: "btn btn-danger btn-lg" %>
<% elsif !@user.issued_challenges.empty? %>
  <%= link_to 'Check on your challenges!', user_challenges_path(@user), class: "btn btn-warning btn-lg" %>
<% end %>

</div>
</div>

</div>
