Real Name: <%= @user.to_s %> <br>
Username: <%= @user.username %> <br>


<% if @routines.size > 1  %>
  <%= link_to 'View Routines', routines_path%><br>
<% elsif @routines.size == 1%>
  <%= link_to 'View Routine', routine_path(@routines.first) %><br>
<% else %>
  <p>You currently have no routines, please add a routine using the link below.</p>
<% end %>

<%= link_to 'Add Routine', new_routine_path %><br>

 <br>

<% if @user.received_challenges.size == @user.completed_challenges.size %>
  <%= link_to 'You Have Challenges From Friends', user_challenges_path(@user) %>
  <% elsif !@user.issued_challenges.empty? %>
  <%= link_to 'Check On Your Issued Challenges', user_challenges_path(@user) %>

  <% end %>
