<div class="card bg-dark text-white mb-sm">

  <div class="card-header">
    <%= form_for @routine_exercise, :url => user_routine_routine_exercises_path(@user, @routine) do |f|%>

    <h2>What days would you like to add this exercise to?</h2>
  </div>


  <div class="card-body d-flex justify-content-around">


<div>
  <%= f.check_box :monday %>
  <%= f.label :monday, "Monday" %>
</div>
<div>
  <%= f.check_box :tuesday %>
  <%= f.label :tuesday, "Tuesday" %>
</div>
<div>
  <%= f.check_box :wednesday %>
  <%= f.label :wednesday, "Wednesday" %>
</div>
<div>
  <%= f.check_box :thursday %>
  <%= f.label :thursday, "Thursday" %>
</div>
<div>
  <%= f.check_box :friday %>
  <%= f.label :friday, "Friday" %>
</div>
<div>
  <%= f.check_box :saturday %>
  <%= f.label :saturday, "Saturday" %>
</div>
<div>
  <%= f.check_box :sunday %>
  <%= f.label :sunday, "Sunday" %>
</div>
<br>

</div>
</div>

<div class="card bg-dark text-white">

  <div class="card-header">

<h2>Please enter exercise details</h2>
</div>

<div class="card-body">
  <div style= "width: 35%">
    Exercise: <%= f.text_field :name,  style: 'float: right' %><br><br>
    Sets: <%= f.number_field :sets,  style: 'float: right' %><br><br>
    Reps: <%= f.number_field :reps,  style: 'float: right' %><br><br>
    Weight(lbs): <%= f.number_field :weight,   style: 'float: right' %><br>
    <br>
</div>

<%=f.submit "Add Exercise To This Routine", class:"btn btn-secondary btn-lg"%>

</div>
</div>

<!-- <h1> Choose the days of the week you would like to work out on </h1>

  <%= f.label :monday, "Monday" %>
  <%= f.check_box :monday %>

  <%= f.label :tuesday, "Tuesday" %>
  <%= f.check_box :tuesday %>

  <%= f.label :wednesday, "Wednesday" %>
  <%= f.check_box :wednesday %>

  <%= f.label :thursday, "Thursday" %>
  <%= f.check_box :thursday %>

  <%= f.label :friday, "Friday" %>
  <%= f.check_box :friday %>

  <%= f.label :saturday, "Saturday" %>
  <%= f.check_box :saturday %>

  <%= f.label :sunday, "Sunday" %>
  <%= f.check_box :sunday %>
    <%=f.submit "Submit Days "%>
    <% end %>

<% if @routine_exercise.monday == true  || @routine_exercise.tuesday == true || @routine_exercise.wednesday == true || @routine_exercise.thursday == true  || @routine_exercise.friday == true || @routine_exercise.saturday == true || @routine_exercise.sunday == true %>
    <%= form_for @routine_exercise, :url => routine_routine_exercises_path(@routine) do |f|%> -->


    <!-- <%end%> -->

    <%end%>
