  <div class="card bg-dark text-white">

    <%= form_for @routine_exercise, :url => user_routine_routine_exercises_path(@user, @routine) do |f|%>

  <div class="card-header">
    <h2>What days would you like to add this exercise to?</h2>
  </div>

  <div class="card-body">

    <%= f.check_box :monday %>
    <%= f.label :monday, "Monday" %>

    <%= f.check_box :tuesday %>
    <%= f.label :tuesday, "Tuesday" %>

    <%= f.check_box :wednesday %>
    <%= f.label :wednesday, "Wednesday" %>

    <%= f.check_box :thursday %>
    <%= f.label :thursday, "Thursday" %>

    <%= f.check_box :friday %>
    <%= f.label :friday, "Friday" %>

    <%= f.check_box :saturday %>
    <%= f.label :saturday, "Saturday" %>

    <%= f.check_box :sunday %>
    <%= f.label :sunday, "Sunday" %>
    <br>
    <br>

    <h2>Please enter exercise details</h2>

    <br>

    Exercise: <%= f.text_field :name,  style: 'float: right' %><br><br>
    Sets: <%= f.number_field :sets,  style: 'float: right' %><br><br>
    Reps: <%= f.number_field :reps,  style: 'float: right' %><br><br>
    Weight(lbs): <%= f.number_field :weight,   style: 'float: right' %><br>
    <br>


    <%=f.submit "Add Exercise To This Routine", class:"btn btn-secondary btn-lg"%>
    <%end%>

  </div>

</div>
