<h1><%= @user.id == session[:user_id] ? "Your challenges" : "Challenges for #{@user.username.capitalize}" %></h1>


<% if !@issued_challenges.empty? %>

  <h2>Issued Challenges: </h2>
  <% @issued_challenges.each do |issued| %>
    <p>- - - </p>
    <p>Challenge:<%= link_to issued.exercise.name, exercise_path(issued.exercise) %></p>
    <% if issued.sets%> <p>Sets: <%= issued.sets %></p> <% end %>
    <% if issued.reps%> <p> Reps: <%= issued.reps %></p> <% end %>
    <% if issued.weight%> <p> Weight: <%= issued.weight %> lbs</p> <% end %>
    <% if issued.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= issued.one_rep_max %> lbs</p> <% end %>
    <p>To: <%= issued.challengee.username %></p>
    <p>Status: <%= issued.completed ? "#{issued.challengee.username.capitalize} DID IT!!!" : "Not yet done"  %></p> <br>
  <% end %>

<% end %>

<% if !@rejected_challenges.empty? %>

  <% @rejected_challenges.each do |rejected| %>
    <p>- - - </p>
    <p>Challenge:<%= link_to rejected.exercise.name, exercise_path(rejected.exercise) %></p>
  <% end %>

<% end %>

<% if !@received_challenges.empty? %>

  <h2>Received Challenges: </h2>
  <% @received_challenges.each do |received| %>
    <p>- - - </p>
    <p>Challenge:<%= link_to received.exercise.name, exercise_path(received.exercise) %></p>
    <% if received.sets%> <p>Sets: <%= received.sets %></p> <% end %>
    <% if received.reps%> <p> Reps: <%= received.reps %></p> <% end %>
    <% if received.weight%> <p> Weight: <%= received.weight %> lbs</p> <% end %>
    <% if received.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= received.one_rep_max %> lbs</p> <% end %>
    <p>From: <%= received.challenger.username %></p>
    <% if @user.id == session[:user_id] %>
      <p>Will you accept this challenge?</p>
      <%=link_to "YES!!!", accept_challenge_path(session[:user_id], received.id), method: "get"%>
      <%=link_to "Nah, man...", reject_challenge_path(session[:user_id], received.id), method: "get"%>
    <%end%>
  <% end %>

<% end %>

<% if !@accepted_challenges.empty? %>

  <h2>Accepted Challenges: </h2>
  <% @accepted_challenges.each do |accepted| %>
    <p>- - - </p>
    <p>Challenge:<%= link_to accepted.exercise.name, exercise_path(accepted.exercise) %></p>
    <% if accepted.sets%> <p>Sets: <%= accepted.sets %></p> <% end %>
    <% if accepted.reps%> <p> Reps: <%= accepted.reps %></p> <% end %>
    <% if accepted.weight%> <p> Weight: <%= accepted.weight %> lbs</p> <% end %>
    <% if accepted.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= accepted.one_rep_max %> lbs</p> <% end %>
    <p>From: <%= accepted.challenger.username %></p>
    <% if @user.id == session[:user_id] %>
      <%=link_to "I actually don't feel too good...", reject_challenge_path(session[:user_id], accepted.id), method: "get"%>
      <%=link_to "I DID IT!!!!!", complete_challenge_path(session[:user_id], accepted.id), method: "get"%>
    <% end %>
  <% end %>

<% end %>

<% if !@completed_challenges.empty? %>

  <h2>Completed Challenges: </h2>
  <% @completed_challenges.each do |completed| %>
    <p>- - - </p>
    <p>From: <%= completed.challenger.username %></p>
    <p>Challenge:<%= link_to completed.exercise.name, exercise_path(completed.exercise) %></p>
    <% if completed.sets%> <p>Sets: <%= completed.sets %></p> <% end %>
    <% if completed.reps%> <p> Reps: <%= completed.reps %></p> <% end %>
    <% if completed.weight%> <p> Weight: <%= completed.weight %> lbs</p> <% end %>
    <% if completed.one_rep_max%> <p> Estimated One Rep Max (Epley): <%= completed.one_rep_max %> lbs</p> <% end %>
  <% end %>

<% end %>
