<div class="card bg-dark text-white mb-sm">

  <div class="card-header">
    <h3>Give Someone a Challenge!</h3>
  </div>

  <div class="card-body">
    <div style= "width: 40%">

      <%= form_for @challenge, :url => user_challenges_path(@user) do |f|%>
        Username to Challenge <%= f.text_field :challengee_name, style: 'float: right' %><br><br>
        Exercise name <%= f.text_field :exercise_name, style: 'float: right' %><br><br>
        Sets <%= f.number_field :sets, style: 'float: right' %><br><br>
        Reps <%= f.number_field :reps, style: 'float: right' %><br><br>
        Weight <%= f.number_field :weight, style: 'float: right' %><br><br>
        <br>
        <%=f.submit "Issue Challenge!", class: "btn btn-danger btn-lg"%>
      <%end%>

    </div>
  </div>
<br>

</div>
