<!DOCTYPE html>
<html>
  <head>
    <title>ExcerciseAppRails</title>
    <%= csrf_meta_tags %>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

      <%=link_to "MonsterFit!", root_path, class: "navbar-brand"%>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">


          <% if session[:user_id] %>
            <ul class="navbar-nav mr-auto ">

              <li class="nav-item ml-sm">
                <%= link_to 'Profile', user_path(session[:user_id]), class: "nav-link"%>
              </li>

              <li class="nav-item ml-sm">
                <%= link_to 'Your Routines', user_routines_path(session[:user_id]), class: "nav-link"%>
              </li>

              <li class="nav-item ml-sm">
                <%= link_to "ISSUE CHALLENGE!", new_user_challenge_path(session[:user_id]), class: "nav-link btn btn-danger btn-sm text-white"%>
              </li>

              <% if @user && @user.id != session[:user_id] %>
                <li class="nav-item ml-sm">
                  <%= link_to "Go Back to #{@user.username.capitalize}'s Page", user_path(@user), class: "nav-link"%>
                </li>
              <%end%>
            </ul>


            <ul class="navbar-nav float-right">
              <li class="nav-item float-right">
                <%=link_to "Log Out #{User.find(session[:user_id]).username.capitalize}", signout_path, {method: "delete", class: "nav-link"}%>
              </li>
            </ul>

          <%else%>
            <ul class="navbar-nav float-right">
              <li class="nav-item float-right">
                <%=link_to "Sign In", signin_path, {class: "nav-link"}%>
              </li>
            </ul>
          <%end%>


      </div>

    </nav>

    <div class="container mp-md">

         <div class="starter-template weight-background">
          <% if flash[:message] || @user.try(:errors).try(:any?) %>

           <div class="card alert">
              <li><%=flash[:message]%></li>
              <% if @user %>
               <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
               <% end %>
              <%end%>
           </div>

           <% end %>

              <%= yield %>
         </div>

       </div><!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
